@page
@model steam_server_command_center.Pages.EnabledServers.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>EnabledServer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnabledServer.ID" />
            <div class="form-group">
                <label asp-for="EnabledServer.GameServerID" class="control-label"></label>
                <input asp-for="EnabledServer.GameServerID" class="form-control" />
                <span asp-validation-for="EnabledServer.GameServerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnabledServer.InstanceName" class="control-label"></label>
                <input asp-for="EnabledServer.InstanceName" class="form-control" />
                <span asp-validation-for="EnabledServer.InstanceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnabledServer.ContainerID" class="control-label"></label>
                <input asp-for="EnabledServer.ContainerID" class="form-control" />
                <span asp-validation-for="EnabledServer.ContainerID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnabledServer.IsActive" /> @Html.DisplayNameFor(model => model.EnabledServer.IsActive)
                </label>
            </div>
            @* <div class="form-group">
                <label asp-for="EnabledServer.Configuration" class="control-label"></label>
                <input asp-for="EnabledServer.Configuration" class="form-control" />
                <span asp-validation-for="EnabledServer.Configuration" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
